@import "tailwindcss";

@font-face {
  font-family: "ClashDisplay";
  src: url("./assets/fonts/ClashDisplay-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "UnicaOne";
  src: url("./assets/fonts/UnicaOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Voces";
  src: url("./assets/fonts/Voces-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TypoHoop";
  src: url("./assets/fonts/TypoHoop_Regular_Demo.otf") format("opentype");
}
body{
    background:hsl(256, 48%, 11%);
    width: 100%;
}
.rules_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  background-image: url("./assets/background.png");
  background-position: -200px -180px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;
}

.rules_section::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: 600px 80px;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}
.criteria_section::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;
  background-position: 600px 150px;
}